@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* mixins
----------------------------------------------------------------------------- */
/* layout
--------------------------- */
/* type
--------------------------- */
/* queries
--------------------------- */
/* variables
----------------------------------------------------------------------------- */
/* colours
--------------------------- */
/* reset
----------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  background: #e8e8e8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

/* globals
----------------------------------------------------------------------------- */
.wrap-wide {
  max-width: 78rem;
  padding: 0;
  margin: auto;
}

@media (min-width: 680px) {
  .wrap-wide {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.wrap {
  max-width: 70rem;
  padding: 0;
  margin: auto;
}

@media (min-width: 680px) {
  .wrap {
    padding: 0 1rem;
  }
}

.go-to {
  display: block;
  max-width: 10rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  transition: 300ms;
}

.go-to:hover {
  color: #ffffff;
  text-decoration: none;
  background: #000000;
}

.no-padding-top {
  padding-top: 0;
}

.no-underline {
  border: none;
}

.fa-star {
  color: gold;
}

.link {
  transition: 300ms;
}

.link:hover {
  color: #ffffff;
  text-decoration: none;
  background: #000000;
}

.additional-links li {
  margin-bottom: .5rem;
}

.insulate {
  padding-top: 2rem;
}

/* typography
----------------------------------------------------------------------------- */
h1,
h2,
blockquote {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  color: #333333;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h1.wrap-title {
  max-width: 76rem;
  padding-top: 1rem;
  margin: auto;
}

h1.page-title {
  padding: 1rem 0;
}

@media (min-width: 1200px) {
  h1.page-title {
    transform: translateX(-1rem);
  }
}

@media (min-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 1rem 0 .25rem;
  margin: 1rem 0;
  font-size: 1.75rem;
  line-height: 1.2;
}

h2:before {
  position: absolute;
  display: block;
  content: '';
  border-bottom: 3px solid #333333;
  background: url("../images/p-tat-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  opacity: .9;
}

@media (min-width: 1200px) {
  h2.block-header {
    padding: 0 1rem 0 .25rem;
    transform: translateX(-5rem);
  }
}

h2.tat {
  background: url("../images/tape-1.jpg");
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

h2.underline {
  background: url("../images/underline-1.jpg");
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

h3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
}

h3 a {
  color: #444444;
}

p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.text-block .intro-text {
  max-width: 68rem;
  font-size: 1.125rem;
  line-height: 1.4;
}

@media (min-width: 420px) {
  .text-block .intro-text {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

.text-block p {
  font-size: 1.2rem;
}

@media (min-width: 420px) {
  .text-block p {
    line-height: 1.6;
  }
}

.additional-links a {
  color: #444444;
}

/* layout:
----------------------------------------------------------------------------- */
main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;
  background: #ffffff;
}

section {
  padding: 1rem 0 0 0;
}

@media (min-width: 680px) {
  section {
    padding: 1rem 0 3rem 0;
  }
}

.recent-articles li {
  margin-bottom: .5rem;
}

.recent-articles .go-to {
  margin-top: 3rem;
  font-weight: bold;
}

/* header
----------------------------------------------------------------------------- */
header {
  width: 100%;
  min-height: 75px;
  padding-top: 1rem;
  box-shadow: 1px 1px 5px #cccccc;
  background: #ffffff;
}

@media (min-width: 1001px) {
  header {
    position: fixed;
    z-index: 5000;
  }
}

header .header-inner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding-right: 1rem;
  margin: 0 auto;
}

@media (min-width: 1001px) {
  header .header-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

header .header-inner .logo {
  position: absolute;
  top: .25rem;
  left: 1rem;
}

@media (min-width: 1200px) {
  header .header-inner .logo {
    width: auto;
  }
}

header .header-inner .logo a {
  font-family: 'Playfair Display', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #333333;
  text-decoration: none;
}

header .header-inner .menu {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 30px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #333333;
  background: transparent;
}

header .header-inner .menu i:first-of-type {
  top: 4px;
}

header .header-inner .menu i {
  position: absolute;
  right: 4px;
  top: 12px;
  width: 30px;
  height: 3px;
  background: #333333;
}

header .header-inner .menu i:last-of-type {
  top: 20px;
}

@media (min-width: 1000px) {
  header .header-inner .menu {
    display: none;
  }
}

header .header-inner .main-nav {
  display: none;
}

header .header-inner .main-nav ul {
  padding: 3rem 1rem;
  margin-right: 3rem;
}

header .header-inner .main-nav ul a {
  display: block;
  padding: .25rem 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #cccccc;
  text-decoration: none;
  transition: 300ms;
}

header .header-inner .main-nav ul a:hover {
  color: #000000;
}

@media (min-width: 1001px) {
  header .header-inner .main-nav ul {
    padding: 0;
    width: 20rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header .header-inner .main-nav.show {
  display: block;
}

@media (min-width: 1001px) {
  header .header-inner .main-nav {
    display: block;
  }
}

header .header-inner .search {
  display: none;
  padding: .25rem;
  border: 1px solid #eeeeee;
  color: #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 1001px) {
  header .header-inner .search {
    display: block;
  }
}

header .header-inner .fa-linkedin,
header .header-inner .fa-twitter-square,
header .header-inner .fa-search {
  display: none;
}

@media (min-width: 1001px) {
  header .header-inner .fa-linkedin,
  header .header-inner .fa-twitter-square,
  header .header-inner .fa-search {
    display: inline-block;
    margin: 0 .25rem;
    color: #000000;
  }
  header .header-inner .fa-linkedin,
  header .header-inner .fa-twitter-square {
    font-size: 1.65rem;
  }
  header .header-inner .fa-search {
    padding-top: 3px;
    font-size: 1.5rem;
  }
}

/* banner
----------------------------------------------------------------------------- */
.banner-image {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* footer
----------------------------------------------------------------------------- */
footer {
  padding-top: 2rem;
  border-top: 1px solid #444444;
  margin-bottom: 3rem;
  text-align: center;
}

/* text-block:
----------------------------------------------------------------------------- */
.text-block .container {
  width: 100%;
  max-width: 70rem;
  padding-top: 3rem;
  margin: 0 auto;
}

/* text-image-block:
----------------------------------------------------------------------------- */
@media (min-width: 1000px) {
  .text-image-block .intro {
    margin-right: 20%;
  }
}

.text-image-block .container-full {
  display: flex;
}

.text-image-block .container-full img {
  display: none;
}

@media (min-width: 1000px) {
  .text-image-block .container-full img {
    display: block;
    align-self: flex-start;
    min-width: 250px;
  }
}

.text-image-block .container-full .content {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.text-image-block .container-full .content .stars {
  margin: 1rem 0;
}

.text-image-block .container-full .content .text h2 {
  padding-left: 0;
  margin: 0;
}

.text-image-block .container-full .content .text p {
  display: none;
}

.text-image-block .container-full .content blockquote {
  position: relative;
  align-self: flex-start;
  height: auto;
  padding: 10px 0 10px 20px;
  margin-right: 5%;
  font-size: 2.5rem;
  line-height: .55;
  font-weight: bold;
  color: #ffffff;
  background: #f5f5f5;
}

@media (min-width: 1200px) {
  .text-image-block .container-full .content blockquote {
    width: 350px;
  }
}

.text-image-block .container-full .content blockquote:before {
  position: absolute;
  display: block;
  content: '';
  width: 250px;
  height: 250px;
  top: 0;
  background: url("../images/p-tat-1.jpg");
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  opacity: 1;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .text-image-block .container-full .content blockquote:before {
    height: 325px;
  }
}

.text-image-block .container-full .content blockquote span {
  display: block;
  max-width: 350px;
  padding: .75rem;
  margin-bottom: calc(.25rem + 5px);
  background: #333333;
}

.text-image-block .container-full .content blockquote span:nth-of-type(1) {
  padding-left: 1rem;
  clip-path: polygon(-0.24% 7.89%, 91.42% -6.99%, 89.51% 108.42%, 2.07% 111.84%);
}

.text-image-block .container-full .content blockquote span:nth-of-type(2) {
  padding: 1.25rem;
  text-align: right;
  clip-path: polygon(4.89% -18.2%, 97.42% -2.64%, 86.94% 149.36%, 2.07% 111.84%);
}

.text-image-block .container-full .content blockquote span:nth-of-type(3) {
  padding-bottom: 1.25rem;
  text-align: right;
  clip-path: polygon(-0.24% -3.22%, 96.8% -19.31%, 109.18% 106.24%, -5.2% 127.06%);
}

.text-image-block .container-full .content blockquote span:nth-of-type(4) {
  padding-right: 2rem;
  padding-bottom: 2rem;
  text-align: right;
  clip-path: polygon(2.33% 1.83%, 94.85% -18.25%, 94.64% 85.56%, 2.07% 96.69%);
}

@media (min-width: 800px) {
  .text-image-block .container-full .content .text {
    display: flex;
  }
  .text-image-block .container-full .content .text p {
    padding-top: 1rem;
    padding-right: 10%;
    display: block;
  }
  .text-image-block .container-full .content .links {
    margin: .5rem 5% 0;
    align-self: flex-end;
  }
  .text-image-block .container-full .content .go-to {
    text-align: right;
  }
}

@media (min-width: 1000px) {
  .text-image-block .container-full .content {
    margin-left: 2rem;
  }
}

@media (min-width: 600px) {
  .text-image-block .container-half {
    display: flex;
  }
}

.text-image-block .container-half article {
  width: 100%;
  min-height: 250px;
  border: 1px solid #eeeeee;
  margin-bottom: 1rem;
}

.text-image-block .container-half article h3 {
  min-height: 70px;
  padding: .25rem;
  font-weight: bold;
  color: #333333;
}

.text-image-block .container-half article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.text-image-block .container-half article p {
  padding: .25rem;
  font-size: 1rem;
}

.text-image-block .container-half article a {
  color: #444444;
}

@media (min-width: 600px) {
  .text-image-block .container-half article {
    width: calc(50% - 15px);
    margin-left: 30px;
  }
  .text-image-block .container-half article:nth-of-type(2n+1) {
    margin-left: 0;
  }
}

@media (min-width: 600px) {
  .text-image-block .container-quarter {
    display: flex;
  }
}

.text-image-block .container-quarter article {
  width: 100%;
  min-height: 250px;
  padding: .25rem;
  border: 1px solid #eeeeee;
  margin-bottom: .5rem;
}

.text-image-block .container-quarter article h3 {
  font-weight: bold;
  color: #333333;
}

@media (min-width: 600px) {
  .text-image-block .container-quarter article {
    width: calc(25% - 22.5px);
    margin-left: 30px;
  }
  .text-image-block .container-quarter article:nth-of-type(4n+1) {
    margin-left: 0;
  }
}

/* grids
----------------------------------------------------------------------------- */
.grid {
  width: 100%;
  margin-bottom: .5rem;
}

@media (min-width: 480px) {
  .grid {
    width: calc(50% - 15px);
    margin-left: 30px;
  }
  .grid:nth-of-type(2n+1) {
    margin-left: 0;
  }
}

@media (min-width: 680px) {
  .grid {
    width: calc(33.33% - 20px);
  }
  .grid:nth-of-type(2n+1) {
    margin-left: 30px;
  }
  .grid:nth-of-type(3n+1) {
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .grid {
    width: calc(25% - 22.5px);
  }
  .grid:nth-of-type(3n+1) {
    margin-left: 30px;
  }
  .grid:nth-of-type(4n+1) {
    margin-left: 0;
  }
}

/* contact
----------------------------------------------------------------------------- */
@media (min-width: 800px) {
  .contact .container {
    display: flex;
  }
  .contact .container p {
    width: 50%;
    margin-right: 30px;
  }
}

.contact form {
  width: 100%;
  padding-bottom: 3rem;
}

@media (min-width: 800px) {
  .contact form {
    width: 50%;
  }
}

.contact form label {
  display: block;
  font-size: 1rem;
}

.contact form .email,
.contact form .message {
  margin: 1rem 0 0 0;
}

.contact form input,
.contact form textarea {
  width: 100%;
  min-width: 300px;
  height: 30px;
  border: 1px solid #cccccc;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact form .submit {
  margin-top: 2rem;
}

.contact form .submit input[type="submit"] {
  max-width: 50%;
  padding: .5rem 0 1.75rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #cccccc;
  transition: 300ms;
}

.contact form .submit input[type="submit"]:hover {
  color: #ffffff;
  background: #000000;
}

@media (max-width: 680px) {
  .contact form input,
  .contact form textarea {
    width: 100%;
  }
}

.books-cv {
  padding-bottom: 3rem;
}

.books-cv .books-cv-item {
  margin-bottom: 1rem;
}

/* articles-archive
----------------------------------------------------------------------------- */
.video-title {
  margin-top: 3rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin: 3rem 0;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articles-grid {
  display: none;
  margin-top: 1rem;
}

@media (min-width: 680px) {
  .articles-grid {
    display: flex;
  }
}

.white-holder {
  width: 100%;
  border: 1px solid #eeeeee;
}

@media (min-width: 681px) {
  .white-holder {
    width: calc(25% - 22.5px);
    margin-left: 30px;
  }
  .white-holder:nth-of-type(4n+1) {
    margin-left: 0;
  }
}

/* single article page
----------------------------------------------------------------------------- */
@media (min-width: 800px) {
  .article-wrapper {
    display: flex;
  }
}

.article-content {
  max-width: 50rem;
}

.article-title {
  margin-bottom: 2rem !important;
}

strong {
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: 'Playfair Display', sans-serif;
}

.sidebar {
  width: calc(25% - 2rem);
  margin-right: 2rem;
  border-left: 1px solid #eeeeee;
}

.sidebar h2 {
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
}

/* books
----------------------------------------------------------------------------- */
.books .book-full img {
  margin: 0 3rem 1rem 0;
}

@media (min-width: 600px) {
  .books .book-full img {
    max-width: 170px;
  }
}

@media (min-width: 600px) {
  .books .book-full {
    display: flex;
  }
}

.books h3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.books .description {
  display: none;
}

.books span {
  display: block;
  line-height: 1.2;
}

.books span.buy-outbound {
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (min-width: 480px) {
  .books .books-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .books .books-grid .book {
    max-width: 170px;
  }
}
