/* footer
----------------------------------------------------------------------------- */
footer {
	padding-top: 2rem;
	border-top: 1px solid $black-70;
	margin-bottom: 3rem;
	text-align: center;
	// background: $white;
} 