/* header
----------------------------------------------------------------------------- */
header {
	height: 75px;
//	border-bottom: 1px solid $light-grey;
	box-shadow: 1px 1px 5px $light-grey;
	background: $white;

	@include mq (680px) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.top {
		width: 1400px;
		padding-right: 1rem;
		margin: 0 auto;	
		
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
		nav {
			ul {
				display: none;
				
				a {
					display: block;
					padding: .25rem 0;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-weight: 400;
					color: $light-grey;
					text-decoration: none;
					transition: 300ms;
				
					&:hover {
						color: $black;
					}
				}
				
				@media (min-width: 480px) {
					width: 35rem;
					

					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		span:first-of-type {
			margin-left: 2rem;
		}

		.fa-linkedin,
		.fa-twitter-square {
			display: none;
			margin: 0 .25rem;
			font-size: 1.65rem;
			color: $black;
			}

			@media (min-width: 680px) {
				.fa-linkedin,
				.fa-twitter-square {
					display: inline-block;
			}
		}	
	}
}


