/* header
----------------------------------------------------------------------------- */
header {

	height: 75px;
	box-shadow: 1px 1px 5px $light-grey;
	background: $white;

	@include mq (680px) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.top {
		position: relative;
		width: 1400px;
		padding-right: 1rem;
		margin: 0 auto;	
		
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.logo {
			position: absolute;
			top: 1.5rem;
			left: 1rem;

			@include mq(1200px) {
				top: 0;
				left: -$logo-left;
			}
			
			a {
				@include playfair;
				font-weight: normal;
				letter-spacing: 1px;
				color: $black-80;
				text-decoration: none;
			}
		}

		nav {
			ul {
				display: none;
				margin-right: $logo-left;
				
				a {
					display: block;
					padding: .25rem 0;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-weight: 400;
					color: $light-grey;
					text-decoration: none;
					transition: 300ms;
				
					&:hover {
						color: $black;
					}
				}
				
				@media (min-width: 480px) {
					width: 30rem;
					margin-right: 2rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.fa-linkedin,
		.fa-twitter-square,
		.fa-search {
			display: none;
		}

			@media (min-width: 680px) {
				.fa-linkedin,
				.fa-twitter-square,
				.fa-search {
					display: inline-block;
					margin: 0 .25rem;
					color: $black;
				}

				.fa-linkedin,
				.fa-twitter-square {
					font-size: 1.65rem;
				}

				.fa-search {
					padding-top: 3px;
					font-size: 1.5rem;
				}
			}	
		}
	}


