/* header
----------------------------------------------------------------------------- */
header {
	min-height: 75px;
	box-shadow: 1px 1px 5px $light-grey;
	background: $white;

	@include mq (680px) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.top {
		position: relative;
		width: 100%;
		max-width: 1400px;
		padding-right: 1rem;
		margin: 0 auto;	
		

		@include mq(1001px) {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.logo {
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 175px;
		//	box-shadow: 3px 3px $black-70;

			@include mq(680px) { 
				top: 0;
			}

			@include mq(1200px) {
				width: auto;
				left: -$logo-left;
			}
			
			a {
				@include playfair;
				font-weight: normal;
				letter-spacing: 1px;
				color: $black-80;
				text-decoration: none;
			}

			img {
				width: 250px;
			}
		}

		.menu {
			position: absolute;
			top: .25rem;
			right: 1rem;
			color: red;

			@include mq(1000px) {
				display: none;
			}
		}

		.main-nav {
			display: none;
			
			ul {
				padding: 3rem 1rem;
				margin-right: $logo-left;
				
				a {
					display: block;
					padding: .25rem 0;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-weight: 400;
					color: $light-grey;
					color: red;
					text-decoration: none;
					transition: 300ms;
				
					&:hover {
						color: $black;
					}
				}
				
				@media (min-width: 1001px) {
					padding: 0;
					width: 20rem;
					margin-right: 2rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			&.show {
				display: block;
			}

			@include mq(1001px) {
				//height: 75px;
				display: block;
			}
		}	

		.search {
			display: none;
			padding: .25rem;
			border: 1px solid $light-grey;
			color:  $light-grey; 
			-webkit-appearance: none;
			-moz-appearance: none;

			@include mq(1001px) {
				display: block;
			}
		}

		.fa-linkedin,
		.fa-twitter-square,
		.fa-search {
			display: none;
		}

			@media (min-width: 1001px) {
				.fa-linkedin,
				.fa-twitter-square,
				.fa-search {
					display: inline-block;
					margin: 0 .25rem;
					color: $black;
				}

				.fa-linkedin,
				.fa-twitter-square {
					font-size: 1.65rem;
				}

				.fa-search {
					padding-top: 3px;
					font-size: 1.5rem;
				}
			}	
		}
	}


