/* text-image-block:
----------------------------------------------------------------------------- */
.text-image-block {
	.intro {
		@include mq(1000px) {
			max-width: 66rem;
			margin: 0 auto;
		}
	}

	.container-full {
		display: flex;
		-webkit-display: flex;

		img {
			display: none;

			@include mq(1000px) {
				display: block;
				align-self: flex-start;
				min-width: 250px; // tighten
				max-height: 375px;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			margin-right: 0;

			.stars {
				margin: 1rem 0;
			}

			.text {

				h2 {
					padding-left: 0;
					margin: 0;
				}

				p {
					display: none;
				}
			}

			blockquote {
				position: relative;
				align-self: flex-start;
				height: auto;
				padding: 10px 0 30px 20px;
				margin-right: 5%;
				font-size: 2.5rem;
				line-height: .55;
				font-weight: bold;
				color: $white;
				background: $off-white;

				@include mq(1200px) {
					width: 350px;
				}

				&:before {
					position: absolute;
					display: block;
					content: '';
					width: 250px; // was 225px check
					height: 250px;
					top: 0;
					background: url('../images/p-tat-1.jpg');
					background-repeat: no-repeat;
					mix-blend-mode: multiply;
					opacity: 1;
					overflow: hidden;

					@include mq(1200px) {
						height: 325px;
					}
				}

				span {
					display: block;
					max-width: 350px;
					padding: .75rem;
					margin-bottom: calc(.25rem + 5px);
					background: $black-80;
				}

				span {
					font-size: 2.15rem;
				}

				span:nth-of-type(1) {
					padding-bottom: .25rem;
					padding-left: .5rem;
					clip-path: polygon(-0.24% 7.89%, 91.42% -6.99%, 89.51% 108.42%, 2.07% 111.84%);
				}
				span:nth-of-type(2) {
					padding: .5rem 1.95rem;
					text-align: right;
					clip-path: polygon(4.89% -18.2%, 97.42% -2.64%, 86.94% 149.36%, 2.07% 111.84%)
				}
				span:nth-of-type(3) {
					padding-top: .25rem;
					padding-bottom: .5rem;
					text-align: right;
					clip-path: polygon(-0.24% -3.22%, 96.8% -19.31%, 109.18% 106.24%, -5.2% 127.06%);
				}
				span:nth-of-type(4) {
					padding-top: .25rem;
					padding-right: 2rem;
				//	padding-bottom: 2rem;
					text-align: right;
					clip-path: polygon(2.33% 1.83%, 94.85% -18.25%, 94.64% 85.56%, 2.07% 96.69%)
				}
			}


			// content
			@include mq(800px) {
				// margin-left: 2rem;

				.text {
					display: flex;
						p {
							padding-top: 1rem;
							padding-right: 10%;
							display: block;
						}
					}

				.links  {
						margin: .5rem 5% 0;
						align-self: flex-end;
					}

				.go-to {
						text-align: right;
					}
				}

			@include mq(1000px) {
				margin-left: 2rem;

				}
			}
		}

	.container-half {
		@include mq(600px) {
			display: flex;
			margin: 2rem 0;
		}

		article {
			width: 100%;
			min-height: 250px;
			border: 1px solid #eeeeee;
			margin-bottom: 1rem;

			h3 {
				min-height: 70px;
				padding: .25rem;
				font-weight: bold;
				color: $black-80;
			}

			img {
				width: 100%;
				max-height: 300px; // at full width only
				object-fit: cover;
			//	filter: grayscale(100%);
			}

			p {
				padding: .25rem;
				font-size: 1rem;
			}

			a {
				color: $black-70;
			}

			@include mq(600px) {
				width: calc(50% - 15px);
				margin-left: 30px;

				&:nth-of-type(2n+1) {
				margin-left: 0;
				}
			}
		}
	}

	.container-quarter {

		@include mq(600px) {
			display: flex;
			margin: 2rem 0;
		}

		article {
			width: 100%;
			min-height: 250px;
			padding: .25rem;
			border: 1px solid #eeeeee;
			margin-bottom: .5rem;
		//	box-shadow: 3px 4px $off-white;

			h3 {
			//	font-weight: 400;
				color: $black-80;
			}


			@include mq(600px) {
			width: calc(25% - 22.5px);
			margin-left: 30px;

				&:nth-of-type(4n+1) {
					margin-left: 0;
				}
			}
		}
	}
}
