	/* mixins
----------------------------------------------------------------------------- */

/* layout
--------------------------- */
@mixin wrap-wide {
//	max-width: 76rem; // was 75rem
	padding: 0;
	margin: auto;

	@include mq(680px) {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}

@mixin wrap {
	max-width: 70rem;
	padding: 0;
	margin: auto;

	@include mq(680px) {
		padding: 0 1.5rem;
	}
}

@mixin insulate {
	margin-top: 2rem;
}

/* type
--------------------------- */
@mixin opensans {
	font-family: 'Open Sans', sans-serif;
}

@mixin playfair {
	font-family: 'Playfair Display', sans-serif;
}

@mixin pf-bold {
	font-weight: 900;
}

@mixin open-bold {
	font-weight: 700;
}

/* queries
--------------------------- */
@mixin mq( $query ) {
	@media ( min-width: $query ) {
		@content
	}
}
