/* variables
----------------------------------------------------------------------------- */

/* colours
--------------------------- */
$white: #ffffff;
$black: #000000;
$black-80: #333333;
$black-70: #444444;
$grey: #707070;
$light-grey: #eeeeee;
$header-grey: #dedede;
$off-white: #f5f5f5;
$body-bg: #e8e8e8;

$logo-left: 3rem;


