/* contact
----------------------------------------------------------------------------- */
.contact {
	.container {
		@include mq(800px) {
			display: flex;

			p {
				width: 50%;
				margin-right: 30px;	
			}
		}
	}

	form {
		width: 100%;
		padding-bottom: 3rem;

		@include mq(800px) {
			width: 50%;
		}

		label {
			display: block;
			font-size: 1rem;
		}

		.email,
			.message {
				margin: 1rem 0 0 0;
		}

		input,
		textarea {
				width: 100%;
				min-width: 300px;
				height: 30px;
				
				// reset
				border: 1px solid $light-grey;
				outline: none;
				-webkit-appearance:none;
				-moz-appearance:none;
			}

		.submit {
			margin-top: 2rem;
		
			input[type="submit"] {
				max-width: 50%;
				padding: .5rem 0 1.75rem 0;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: .5px;
				background: $light-grey;
				transition: 300ms;
				
				&:hover {
					color: $white;
					background: $black;
				}
			}

		}	

		@media (max-width: 680px)  {
			input,
			textarea {
				width: 100%;
			}
		}
	}
}