/* contact
----------------------------------------------------------------------------- */
form {
	padding-bottom: 3rem;
	
	label {
		display: block;
		margin: 1rem 0 0 0;
		font-size: 1rem;
	}

	input,
	textarea {
			min-width: 300px;
			height: 30px;
			
			// reset
			border: 1px solid $light-grey;
			outline: none;
			-webkit-appearance:none;
			-moz-appearance:none;
		}

	.submit {
		margin-top: 2rem;
	
		input[type="submit"] {
			display: flex;
			padding: 1rem 0 2.25rem 0;
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: .5px;
			background: $light-grey;
			transition: 300ms;
			
			&:hover {
				color: $white;
				background: $black;
			}
		}

	}	

	@media (max-width: 680px)  {
		input,
		textarea {
			width: 100%;
		}
	}
}