/* typography
----------------------------------------------------------------------------- */

h1, 
h2,
blockquote {
	@include playfair;
	@include pf-bold;
	color: $black-80;
}

h1 {
	font-size: 2.25rem; // 1.75
	line-height: 1.2;


	&.home-title {
		max-width: 76rem;
		padding-top: 1rem;
		margin:  auto;
	}

	&.page-title {
		padding: 1rem 0;

		@include mq(1200px) {
			transform: translateX(-1rem);
		}
	}

	@include mq(680px) {
		font-size: 2.5rem;
	}

}

h2 {
	position: relative;
	display: inline-block;
	padding: 0 1rem 0 .25rem;
	margin: 1rem 0;
	font-size: 1.75rem;
	line-height: 1.2;
//	background: $off-white;
//	border-bottom: 3px solid $black-80;  works nicely...
	// background: url('../images/p-tat-5.jpg');
	// background-size: cover;
	// background-repeat: no-repeat;

	&:before {
		position: absolute;
		display: block;
		content: '';
	//	width: 220px;
	//	height: 35px;
		border-bottom: 3px solid $black-80;
		background: url('../images/p-tat-5.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
	//	transform: translateX(10px);
	//	box-shadow: 5px 3px $off-white;
		opacity: .9;

	}
	
	@include mq(1200px) {
		&.block-header {
			padding: 0 1rem 0 .25rem;
			transform: translateX(-5rem);
		}
	} 

	&.tat {
		background: url('../images/tape-1.jpg');
		background-repeat: no-repeat;
	//	mix-blend-mode: multiply;
		filter: grayscale(100%);
	}

	&.underline {
		background: url('../images/underline-1.jpg');
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
	//	filter: grayscale(100%);	
	}


}
	
h3 {
//	margin-bottom: .5rem;
	@include playfair;
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 1.2;
	color: $black-80;

	a {
		color: $black-70;
	}
}

p {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	line-height: 1.5;
}

.text-block {
	.big {
		max-width: 68rem;
		font-size: 1.125rem;
		line-height: 1.4;

		@include mq(420px) {
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}			

	p {
		font-size: 1.2rem;	

		@include mq(420px) {
			line-height: 1.6;
		}
	}
} 





	