/* typography
----------------------------------------------------------------------------- */
h1,
h2,
blockquote {
	@include playfair;
	@include pf-bold;
	color: $black-80;
}

h1 {
	font-size: 2rem; // 1.75
	line-height: 1.2;


	&.wrap-title {
		max-width: 70rem;
		padding-top: 1rem;
		margin:  auto;
	}

	&.page-title {
		padding: 1rem 0;

		@include mq(1200px) {
		//	transform: translateX(-1rem);
		}
	}

	@include mq(680px) {
		font-size: 2rem;
	}
}

h2 {
	position: relative;
	display: inline-block;
	padding: 0 1rem 0 .25rem;
	margin: 2rem 0;
	font-size: 1.75rem;
	line-height: 1.2;

	&:before {
		position: absolute;
		display: block;
		content: '';
		border-bottom: 3px solid $black-80;
		background: url('../images/p-tat-5.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		opacity: .9;

	}

	@include mq(1200px) {
		&.block-header {
			padding: 0 1rem 0 .25rem;
			transform: translateX(-1rem);
		}
	}

	&.tat {
		background: url('../images/tape-1.jpg');
		background-repeat: no-repeat;
		filter: grayscale(100%);
	}

	&.underline {
		background: url('../images/underline-1.jpg');
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
	}
}

h3 {
	@include playfair;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.2;
	color: $black-80;

	a {
		color: $black-70;
	}
}

p {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	line-height: 1.5;
}

.text-block {
	.intro-text {
		max-width: 66rem;
		font-size: 1.125rem;
		line-height: 1.25;
		margin: 0 auto;

		@include mq(420px) {
			font-size: 1.275rem;
			line-height: 1.4;
		}
	}

	p {
		font-size: 1.125rem;

		@include mq(420px) {
			line-height: 1.5;
		}
	}
}

.additional-links {
	a {
		font-size: .875rem;
		color: $black-70;
	}
}
