/* typography
----------------------------------------------------------------------------- */

h1, 
h2,
blockquote {
	@include playfair;
	@include pf-bold;
	color: $black-80;
}

h1 {
	font-size: 1.75rem;
	line-height: 1.2;

	&.page-title {
		max-width: 76rem;
		padding-top: 1rem;
		margin:  auto;
	}

	@include mq(680px) {
		font-size: 2.5rem;
	}

}

h2 {
	position: relative;
	display: inline-block;
	padding: 0 1rem 0 .25rem;
	margin: 1rem 0;
	font-size: 1.75rem;
	line-height: 1.2;
	background: $off-white;
	
	@include mq(1200px) {
		&.block-header {
		padding: 0 1rem 0 .25rem;
		transform: translateX(-5rem);
		}
	} 

	&.tat {
		background: url('../images/tape-1.jpg');
		background-repeat: no-repeat;
	//	mix-blend-mode: multiply;
		filter: grayscale(100%);
	}

	&.underline {
		background: url('../images/underline-1.jpg');
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
	//	filter: grayscale(100%);	
	}
}
	
h3 {
	margin-bottom: .5rem;
	@include playfair;
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 1.2;
	color: $black-80;

	a {
		color: $black-70;
	}
}

p {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	line-height: 1.5;
}

.text-block {
	.big {
		max-width: 68rem;
		font-size: 1.125rem;
		line-height: 1.4;

		@include mq(420px) {
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}			

	p {
		font-size: 1.2rem;	

		@include mq(420px) {
			line-height: 1.6;
		}
	}
} 





	