/* globals
----------------------------------------------------------------------------- */
.wrap-wide {
	@include wrap-wide;
}

.wrap {
	@include wrap;
}

.go-to {
	display: block;
	max-width: 10rem;
	@include playfair;
	font-size: 1rem;
	font-weight: bold;
	color: $black;
	transition: 300ms;

	&:hover {
		color: $white;
		text-decoration: none;
		background: $black;
	}
}

.no-padding-top {
	padding-top: 0;
}

.no-underline {
	border: none;
}

.fa-star {
	color: gold;
}

.link {
	transition: 300ms;

	&:hover {
		color: $white;
		text-decoration: none;
		background: $black;
	}
}

.additional-links {
	li {
		margin-bottom: .5rem;
	}
}

.insulate {
	padding-top: 2rem;
}



