/* articles-archive
----------------------------------------------------------------------------- */

.video-title { // fix this!
	margin-top: 3rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  margin: 3rem 0;
  height: 0;

	iframe {
  		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
	}
}

.articles-grid {
	display: none;
	margin-top: 1rem;

	@include mq(680px) {
		display: flex;
	}
}


.white-holder {
	width: 100%;
	border: 1px solid #b9b3b3;


	@include mq(681px) {
		width: calc(25% - 22.5px);
		margin-left: 30px;

		&:nth-of-type(4n+1) {
			margin-left: 0;
		}
	}
}
