/* books
----------------------------------------------------------------------------- */
.books {
	.book-full {
		img {
			margin: 0 3rem 1rem 0;

			@include mq(600px) {
				max-width: 170px;
			}
		}

		@include mq(600px) {
			display: flex;
		}
	}

	h3 {
		@include playfair;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.description {
		display: none;
	}

	span {
		display: block;
		line-height: 1.2;

		&.buy-outbound {
			margin-bottom: 1rem;
			font-weight: bold;
		}
	}

	.books-grid {
		@include mq(480px) {
			display: flex;
	 		flex-wrap: nowrap;
			justify-content: space-between;
	 	}

	 	@include mq(1200px) {
			.book {
				max-width: 160px;
			}
	 	}
	}

	.no-grid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.buy-outbound {
		a {
			font-size: .875rem;
			font-weight: 200;
			color: $grey;
			transition: 300ms;
		}

		a:hover {
			color: $white;
			text-decoration: none;
			background: $black;
		}
	}
}
