/* layout:
----------------------------------------------------------------------------- */

main {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
	background: $white;
}

section {
	padding: 1rem 0 3rem 0; // add wrap to this to save extra div?
//	border-bottom: 1px solid $light-grey;
}

.recent-articles {
	article:last-of-type {
		margin-bottom: 3rem;
	}
}

.insulate {
	padding-top: 2rem;
}
